body { background: #c76c44; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 53px; display: flex; }
.block-search-0 { color: #c42b40; font-size: 17px; margin-bottom: 5px; }
.block-logger-1 { color: #21a845; font-size: 19px; margin-bottom: 5px; }
.block-search-2 { color: #a60264; font-size: 13px; margin-bottom: 5px; }
.block-uploader-3 { color: #6f97ac; font-size: 15px; margin-bottom: 5px; }
.block-order-4 { color: #739855; font-size: 20px; margin-bottom: 5px; }